<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Tech industry professionals come together and share their stories">
    <meta name="keywords" content="#TechFolk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tech Folk</title>
    <link
      href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.files.chunks.styles.css %>"
    />
  </head>

  <body>

    <header>
      <div class="logo">
        <p class="logo__angle_bracket">></p>
        <p class="logo__title">Tech Folk</p>
      </div>
      <a class="logo-link" href="/index.html">home</a>
    </header>

    <section>
      <p>
        A meetup for tech industry professionals to come together and share their stories.
        <br/>
        Happens on the second Tuesday of every month.
      </p>
      <a href="https://www.meetup.com/Tech-Folk/">https://www.meetup.com/Tech-Folk/</a>
      <p>Started in Nov 2019 by a bunch of folks from <a href="https://platform45.com">Platform45</a>.</p>
      <p>Our go-to venue is <a href="https://goo.gl/maps/9B2VgNspoGfHTqmv7">WeWork in Rosebank</a></p>
    </section>

    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>
